/* font设置 */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&family=Noto+Serif+SC:wght@500&family=Zhi+Mang+Xing&display=swap');
/* 全局颜色设置 */
:root{
    --header-height:3.5rem
    /* color */
    --first-color:black;
    --title-color:#A75D5D;
    --text-color:black;
    --text-color2:#D3756B;
    --boder-color:hsl(230,50%,90%)
    --white-color:white;
    --body-color:#F0997D;
    --container-color:#FFC3A1;
    /* font */
    --body-font:"Montserrat",sans-serif;
    --second-font:"Noto+Serif+SC",serif;
    --last-font:"Zhi+Mang+Xin",serif;
    --bigest-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
    /* font weight */
    --font-regular:400;
    --font-medium:500;
    --font-semi-bold:600;
    /* z index */
    --z-tooltip:10;
    --z-fixed:100;
}
/* responsive */
@media  screen and (min-width:1150px) {
    :root{
        --biggest-font-size:3.5rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;
    }
}
/* base */
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body,button{
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
}
body{
    background-color: rgb(255, 255, 255);
    color: var(--text-color);
    transition: background-color .4s;
}


h1,h2,h3,h4 {
    color: var(--text-color);
    font-family: var(--second-font);
    font-weight:bold;
    text-align: center;
    padding-bottom: 1rem;
}
p{
    padding: .5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */

.container{
    max-width: 1220px;
    margin-inline: 1.5rem;
}

section {
    padding-block: 5rem 1rem;
}
.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
    /* animation-scroll */
}

.sum{
    padding: 1rem;
    padding-top: .5rem;
}
p{
    line-height: 1.8rem;
    margin-bottom: .5rem;
}

/* ==========HEADER AND NAV============== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: var(--z-fixed);
    transition: box-shadow .4s, background-color .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: inline-flex;
    align-items: center;
    column-gap: 5rem;
    color: white;
}

.zhushi{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--small-font-size);
}

/* NAV FOR MOBILE */
@media screen and (max-width:1150px) {
    .nav__menu{
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: black;
        box-shadow: 0 --8px 32px hsla(0, 91%, 67%, 0.1);
        padding: 1.25rem 4rem;
        transition: background-color .4s;
    }
}

.nav__title{
    height: 3rem;
    text-align: center;
    padding-top: .75rem;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color:white;
    transition: color .4s
}

.nav__list span{
    display: none;
}

.nav__link i{
    font-size: 1.25rem;
}

.nav__link:hover{
    color: #FFC3A1;
}

.nav__title h2{
    font-weight: bold;
}

/* ADD SHADOW HEADER */
/* ACTIVE LINK */
/* ============= main============= */

/* ========VEDIEO AND INTRO ============= */

.focus{
    margin: initial;
}
.focus{
    zoom: 0.7;
    text-align: center;
}

.focus video{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.intro__data{
    padding-top: 3rem;
    margin-bottom: 4rem;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
}


.intro__title{
    margin-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.intro__desc{
    margin-bottom: 1.5rem;
    width: 100%;
}



/* 背景部分 */


/* ========个案部分========== */
.reason__part{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reason__container{
    position: relative;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reason__container .box{
    position: relative;
    width: 394px;
    height: 525px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: bold;
}

.reason__container .box .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(525px at center 100px);
    transition: .5s;
}

.reason__container .box:hover .imgbx{
    clip-path: circle(80px at center 100px);
}

.reason__container .box:hover .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reason__content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.reason__content h2{
    margin: 0;
    padding: 0;
}

.reason__content a{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.reason__content a,
.reason__content p,
.reason__content h2{
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

.reason__container .box:hover .reason__content h2 {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .3s;
}

.reason__container .box:hover .reason__content p {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .3s;
}

.reason__container .box:hover .reason__content a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .3s;
}

#gean{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;
    overflow: hidden;
    margin: 0;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    padding: 0;
    position:relative;
    transition:.5s cubic-bezier(.05,.61,.41,.95);
}

.panel .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* background: linear-gradient(to top,tgba(0,0,0,0.35)65%,
    transparent); */
    transition:.5s cubic-bezier(.05,.61,.41,.95);
}

.panel .content{
    display: flex;
    position: absolute;
    left: 9px;
    right: 0;
    bottom: 10px;
    height: 50px;
    transition:.5s cubic-bezier(.05,.61,.41,.95);
    overflow: hidden;
}
.detail__icon{
    min-width: 40px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    overflow: hidden;
}

.panel .content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    width: 100%;
}

.panel .content .text div{
    width: calc(100%-70px);
    overflow: hidden;
    white-space: nowrap;
    /* opacity: 0; */
    transition: opacity .5s ease-out;
}

.detail__title{
    font-weight: bold;
    font-size: 20px;
}

.detail__text .title{
    font-weight: bold;
    color: black;
}

.detail__sub{
    transition-delay: .1s;
}

/* 动画设置 */
@media(max-width:480px){
    #gean{
        width: 100vw;
    }
    .panel:nth-of-type(3),
    .panel:nth-of-type(4){
        display: none;
    }
}

.panel.active {
    flex: 4;
    margin: 0;
    border-radius: 30px;
}

.panel.active .shadow{
        background: linear-gradient(to top,rgba(0,0,0,0.35)65%,
    transparent);
    border-radius: 40px;
}



/* ========结尾部分========== */


.conclusion__data{
    margin-bottom: 4rem;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
    padding: 25px 150px;
    margin: 0;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.info__data{
    margin-right: 15px;
    width: 100%;
}
.info__data h2{
    position: relative;
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info__data h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

.info__data p{
    color: #fff;
    font-size: 10px;
}

.background__title{
    padding: 1rem;
    margin-bottom: .5rem;
}









